.adress-list {
    text-align: center;

    @media screen and(min-width: 1200px) {
        text-align: left;
    }
}


.adress-list__item:not(:last-child) {
    margin-bottom: 12px;
}

.adress-list__link {
    color: var(--white-color);

    transition: var(--color-transition);

    &--contact {
            color: rgba(255, 255, 255, 0.6);
        }
}

