.logo {
    display: block;
    padding: 16px 0 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.03em;

    @media screen and (min-width: 768px) {
        padding: 26px 0 26px;
        margin-right: 88px;
    }
    
    @media screen and (min-width: 1200px) {
            padding: 24px 0 25px;
            margin-right: 93px;
            
            font-size: 26px;
            line-height: calc(31/26);
        }
}

.logo__first-part {
    color: var(--accent-color);
}

.logo__second-part--black {
    color: var(--logo-first-color);
}